#background{
    background-color: powderblue;
}
.none {
    display: none;
}
.block {
    display: block;
}
#top {
    width: 90%;
    display: flex;
    justify-content: space-around;
    background: lavender;
    margin-bottom: 20px;
    height: 40px;
    align-items: center;
    font-size: 25px;
}


#author {
    font-size: 0.4cm;
    float:right;
    margin-top: -0.5cm;
}
#section {
    background-color: white;
    height:10cm;
    overflow:scroll
}
#boardTool {
    display: flex;
    width: 100%;
}
#feedback {
    display: flex;
    justify-content: space-around;
    width: 90%;
    border: 1px solid black;
}
#up {
    display: flex;
    justify-content: space-around;
    width: 30%;
    cursor: pointer;
}
#feedbackCenter {
    border: 1px solid black;
}
#down {
    display: flex;
    justify-content: space-around;
    width: 30%;
    cursor: pointer;
}
#manage {
    width: 10%;
    display: inline-flex;
    justify-content: space-around;
    border: 1px solid black;
    border-left: 0px;
}
#delete {
    background-color: pink;
    cursor: pointer;
}
#edit {
    background-color: pink;
    cursor: pointer;
}
#comment {
    background-color: powderblue;
    height: 1cm;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: 1px solid black;
    border-bottom: 0px;
    width: 80vw;
    margin-left: 50%;
    transform: translatex(-50%);
    border-bottom: 3px solid black;
}
#commentGroup {
    width: 80vw;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
}
.parentCommentDiv0 {
    margin-bottom: 70px;
}
#parentComment0 {
    padding-top: 30px;
}

.parentReadCommentName {
    width: 90%;
    background-color: powderblue;
    border: 1px solid black;
    border-left: 0px;
}


#otherCommentWriteAreaParent {
    margin-bottom: 40px;
}
.childCommentDiv {
    width: 100%;
    
}

.childCommnetReadArea {
    display: flex;
}
#childCommentSelector {
    margin-left: 10%;
}
#otherCommentWriteAreaParent2 {
    width: 80vw;
    margin-left: 50%;
    transform: translateX(-50%);
}
#parentCommentGuide {
    text-align: center;
    border: 1px solid black;
    margin-top: 20px;
    cursor: pointer;
    background-color: lavender;
}
#otherChildCommentData {
    width: 100%;

}
.childCommentGuide {
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    background: lavender;
}
.childParentL {
    display: flex;
}




#otherCommentWriteNameArea1 {
    flex: 1;
    display: flex;
    justify-content: space-around;
    background: powderblue;
}
#otherCommentContentArea {
    display: flex;
}
.parentWriteComment1 {
    resize: none;
    min-height: 1cm;
    background-color: pink;
    display: block;
    flex: 1;
}


#childCommentReadContent {
    background: pink;
    height: 50px;
    width: 90%;
    margin-left: 10%;
    text-align: center;
}


#commentWriteNameArea2 {
    flex:1;
    display: flex;
    justify-content: space-around;
    /* border-left: 1px solid black; */
    background: powderblue;
}


#commentWritePasswordArea {
    width: 45%;
}
#commentWritePassword1 {
    width: 100%;
}

.parentComment {
    min-height: 3cm;
    background-color: pink;
}
.parentWriteComment {
    width: 90%;
    resize: none;
    /*height: 335px;*/
    min-height: 1cm;
    background-color: pink;
    display: block;
}
#parentWriteComment1 {
    resize: none;
    min-height: 1cm;
    background-color: pink;
    display: block;
    flex: 1;
}
.CommentWrtieCustomTool {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.parentCommentSubmitArea {

    height: 1cm;
    background: powderblue;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
        /* position: relative; */
    /* margin-top: -1cm; */
    /* margin-left: 79.8%; */
    /* margin: 0; */
    /* margin-top: -1.07cm; */
}

#flex {
    display: flex;
}
.commentWrite {
    background-color: powderblue;
}
#addReadComment {
    text-align: center;
    color: blue;
}

@media (max-width: 918px) {
    #commentWriteNameArea2 {
        
        display: flex;
        justify-content: space-around;
        /* border-left: 1px solid black; */
        background: powderblue;
    }
}
@media (max-width: 769px) {
    #manage{
        width: 20%;
    }
}
@media (max-width: 630px) {
    #commentWriteNameArea2 {
        
        display: flex;
        justify-content: space-around;
        /* border-left: 1px solid black; */
        background: powderblue;
    }
}
@media (max-width: 471px) {
    #manage{
        width: 30%;
    }
}
@media (max-width: 440px) {
    #commentWriteNameArea2 {
        
        display: flex;
        justify-content: space-around;
        /* border-left: 1px solid black; */
        background: powderblue;
    }
}